<app-modal #modal size="xl" [isStatic]="true" (close)="onClose()">
  <div header>
    <h4>Convert File</h4>
  </div>
  <div body>
    @if (_data.file != null) {
    <div class="row">
      <div class="col-6">Original File Path</div>
      <div class="col-6">Original File Name</div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="">{{ _data.file!.path }}</label>
      </div>
      <div class="col-6">
        <label for="">{{ _data.file!.file }}</label>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col-6">
        <app-input-validation
          propertyName="path"
          [modelStateErrors]="_data.errors"
        >
          <label class="form-label" for="path">Path:</label>
          <input class="form-control" type="`text" [(ngModel)]="_data.path" />
        </app-input-validation>
      </div>
      <div class="col-6">
        <app-input-validation
          propertyName="file"
          [modelStateErrors]="_data.errors"
        >
          <label class="form-label" for="file">Name:</label>
          <input class="form-control" type="`text" [(ngModel)]="_data.name" />
        </app-input-validation>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <app-input-validation
          propertyName="path"
          [modelStateErrors]="_data.errors"
        >
          <label class="form-label" for="audioStreamNumber"
            >Audio Stream Number:</label
          >
          <input
            class="form-control"
            type="`number"
            [min]="1"
            [(ngModel)]="_data.audioStreamNumber"
          />
        </app-input-validation>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger" (click)="close()">Cancel</button>
      &nbsp;
      <button class="btn btn-success" (click)="onSave()">Save</button>
    </div>
    <hr />
    <app-convert-file-list
      #convertFileList
      [convertFiles]="_data.convertFiles"
    ></app-convert-file-list>
    }
  </div>
</app-modal>
