<!--<div *ngIf="currentVideo != null">
  <video class="pb-3" width="100%" #player controls (loadeddata)="onLoadedData(player)" (play)="playing()"
    (ended)="playerEnded()" [src]="currentVideo != null ? videoFileService.streamVideoUrl(currentVideo.id!) : ''"
    crossorigin>
  </video>
  <app-input-validation property="userProfileId"></app-input-validation>
  <app-input-validation property="videoFileId"></app-input-validation>
  <div class="d-flex justify-content-center pb-3">
    <button class="btn btn-danger" (click)="convertFileToMp4()">
      Video Not Playing, Queue Convert
    </button>
  </div>
  <div class="row">
    <div class="col-6">
      Current
    </div>
    <div class="col-6">
      Next
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ currentVideo.videoName ?? 'N/A' }}
    </div>
    <div class="col-6">
      {{ currentVideo.nextVideoFile?.videoName ?? 'N/A' }}
    </div>
  </div>
</div>-->