<div class="row">
  <div class="d-flex justify-content-center">
    Profile {{ this.userProfileService.getCurrentUserProfile()?.name }}, Channel
    {{ myChannel }}
  </div>
</div>
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="text-white">+</span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarContent"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav me-auto">
        <li
          class="nav-item"
          *ngIf="this.userProfileService.getCurrentUserProfile() != null"
        >
          <button class="nav-link btn btn-link" href="#" (click)="openRemote()">
            Open Remote
          </button>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li
          class="nav-item"
          *ngIf="this.userProfileService.getCurrentUserProfile() != null"
        >
          <button class="nav-link btn btn-link" (click)="changeUserProfile()">
            Change Profile
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-remote #remote></app-remote>
