<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{
      this.userProfileService.getCurrentUserProfile()?.name
    }}</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarContent"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav me-auto"></ul>
      <ul class="navbar-nav ms-auto">
        <li
          class="nav-item"
          *ngIf="this.userProfileService.getCurrentUserProfile() != null"
        >
          <a class="nav-link" href="#" (click)="changeUserProfile()">
            Change Profile
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
