<div class="row">
  <div class="table-responsive">
    <table class="table text-light">
      <thead>
        <tr>
          <th
            style="white-space: nowrap; cursor: pointer"
            (click)="sortLastError()"
          >
            Last Error
            <span *ngIf="sortAsc"> ^</span>
            <span *ngIf="!sortAsc"> v</span>
          </th>
          <th>Times Failed</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sortedThumbnailErrors">
          <td>{{ item.lastError | date : "short" }}</td>
          <td>{{ item.timesFailed }}</td>
          <td style="cursor: pointer" (click)="displayThumbnailError(item)">
            {{ item.file!.filePathName }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal #disThumbErrorModal [showCloseBtn]="true" size="xl">
  <div header>
    <h4>{{ selectedThumbnailError?.file?.filePathName }}</h4>
  </div>
  <div body>
    <p>Error</p>
    <p>{{ selectedThumbnailError?.error }}</p>
    <hr />
  </div>
</app-modal>
