<div class="table-responsive">
  <h4>Convert Queue</h4>
  <table class="table table-dark">
    <thead>
      <tr>
        <th></th>
        <th
          style="white-space: nowrap; cursor: pointer"
          (click)="sortCreatedDate()"
        >
          Created Date
          <span *ngIf="sortAsc"> ^</span>
          <span *ngIf="!sortAsc"> v</span>
        </th>
        <th style="white-space: nowrap">Process Time</th>
        <th>Error</th>
        <th>Original</th>
        <th>Converted</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of sortedConvertFiles">
        <td>
          <button
            class="btn btn-primary btn-sm"
            (click)="selectConvertFile(item)"
          >
            Output
          </button>
        </td>
        <td style="white-space: nowrap">
          {{ toDate(item.createdDate!) | date : "yyyy-MM-dd HH:mm:ss" }}
        </td>
        <td>
          {{
            item.endedDate != null
              ? (toTime(
                  toDate(item.endedDate!).getTime() -
                    toDate(item.startedDate!).getTime()
                ) | date : "HH:mm:ss")
              : "N/A"
          }}
        </td>
        <td>{{ item.errored ? "Yes" : "No" }}</td>
        <td>{{ item.originalFile?.filePathName }}</td>
        <td>{{ item.convertedFile?.filePathName }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-modal
  #viewOutput
  [showCloseBtn]="true"
  (onClose)="onCloseModal()"
  size="xl"
>
  <div header>
    <h4>Output</h4>
  </div>
  <div body>
    <p style="white-space: break-spaces">
      {{ selectedCovertFile?.output }}
    </p>
  </div>
</app-modal>
