<br />
<p class="text-danger" *ngIf="isAdmin">
  <button
    class="btn btn-sm btn-danger"
    (click)="hideConnectStatus = !hideConnectStatus"
  >
    {{ hideConnectStatus ? "Show" : "Hide" }}
  </button>
  &nbsp;
  <span *ngIf="!hideConnectStatus">Error: {{ shareConnectStatus }}</span>
</p>
<app-user-profile-select
  *ngIf="this.userProfileService.getCurrentUserProfile() == null"
>
</app-user-profile-select>
<div
  class="container"
  *ngIf="this.userProfileService.getCurrentUserProfile() != null"
>
  <!--<app-file-history-last></app-file-history-last>-->
  <app-file-select [isAdmin]="isAdmin"></app-file-select>
</div>
