<div class="row">
  <div class="col">Working Converts</div>
  <div class="col d-flex flex-row-reverse">
    <button class="btn btn-primary btn-sm" (click)="refreshConvertFiles()">
      Refresh
    </button>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <h4>Current Converting</h4>
    <table class="table table-dark">
      <thead>
        <tr>
          <th style="white-space: nowrap; cursor: pointer">Created Date</th>
          <th>Original</th>
          <th>Converted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of currentConvertFiles">
          <td>
            {{ toDate(item.createdDate!) | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td>{{ item.originalFile?.filePathName }}</td>
          <td>{{ item.convertedFile?.filePathName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <app-convert-file-list [convertFiles]="convertFiles"></app-convert-file-list>
</div>
