<!--<br>
<div class="container">
  <div [hidden]="isExpanded">
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" (click)="isExpanded = true">Expand Path</button>
    </div>
  </div>
  <div [hidden]="!isExpanded">
    <div class="row">
      <div class="offset-1 col-10">
        <label for="search">Search</label>
        <input class="form-control" id="search" type="text" [(ngModel)]="search" [disabled]="!isCurrentRootDir()">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <p>Path: {{ currentDir()?.path + '\\' + currentDir()?.name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-sm text-light">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!isCurrentRootDir()">
                <td>
                  <button class="btn btn-sm btn-primary" (click)="popDir()">
                    Back
                  </button>
                </td>
                <td>..</td>
              </tr>
              <tr *ngFor="let item of currentSubDirs()">
                <td>
                  <button class="btn btn-sm btn-primary" (click)="pushDir(item)">
                    Open
                  </button>
                </td>
                <td>{{ item.name }}</td>
              </tr>
              <tr *ngFor="let item of currentDir().videos">
                <td>
                  <button class="btn btn-sm btn-success" (click)="playFile(item)">
                    Play
                  </button>
                  &nbsp;
                  <button class="btn btn-sm btn-success" (click)="playlist(item)">
                    Playlist
                  </button>
                </td>
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div [hidden]="currentFile == null">
  <video width="100%" #player controls (loadeddata)="onLoadedData(player)" (play)="onPlaying()"
    (ended)="onPlayerEnded()" [src]="getCurrentFileApiUrl() ?? ''" crossorigin>
  </video>
</div>
<div class="container" [hidden]="currentFile == null">
  <div class="d-flex justify-content-center">
    <button class="btn btn-sm btn-danger" (click)="convertFileToMp4(currentFile!)">
      Video Not Playing, Attempt Convert
    </button>
  </div>
</div>
<div class="container" *ngIf="isPlaying">
  <div class="row">
    <div class="col-6">
      <p>Playing Now:</p>
      <p>{{ currentFile!.name }}</p>
    </div>
    <div class="col-6">
      <p>Playing Next:</p>
      <p>{{ nextQueuedFile()?.name ?? 'N/A' }}
      </p>
    </div>
  </div>
</div>-->