<br />
<h4>Select Profile</h4>
<br />
<div class="row">
  <div class="col-4 pb-4" *ngFor="let item of userProfiles">
    <div class="card text-center bg-dark text-light border-light">
      <div class="card-header border-light">
        <div class="card-title">
          {{ item.name }}
        </div>
      </div>
      <div class="card-body">
        <button class="btn btn-primary" (click)="editUserProfile(item)">
          Edit
        </button>
        &nbsp;
        <button class="btn btn-success" (click)="selectUserProfile(item)">
          Select
        </button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-center bg-dark text-light border-light">
      <div class="card-header border-light">
        <div class="card-title">New Profile</div>
      </div>
      <div class="card-body">
        <button class="btn btn-success" (click)="newUserProfile()">
          Select
        </button>
      </div>
    </div>
  </div>
</div>
<app-modal #userProfileModal [showCloseBtn]="false">
  <div header>
    <h4>Create User Profile</h4>
  </div>
  <div body>
    <app-user-profile-add-edit
      [userProfile]="selectedUserProfile"
      (onUserProfileChange)="saveUserProfile($event)"
      (onCancel)="userProfileModal.closeModal()"
    ></app-user-profile-add-edit>
  </div>
</app-modal>
