<nav #navMenu class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center">
        @if (userProfileService.currentUserProfile() != null) {
        <button class="btn btn-outline-light" (click)="logout()">
          {{ userProfileService.currentUserProfile()?.name }}
        </button>
        }
      </div>
    </div>
    <div
      class="collapse navbar-collapse"
      id="navbarContent"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav me-auto ms-auto">
        @if (userProfileService.currentUserProfile() != null) { @for (item of
        directories; track $index) {
        <li>
          @if (!item.adminViewOnly || (item.adminViewOnly &&
          directoryService.currentDirectory().isAdmin)) {
          <a
            [class]="'btn mx-1' + selectedClass(item)"
            (click)="onChangeDirectory(item)"
            >{{ item.friendlyName }}</a
          >
          }
        </li>
        } }
      </ul>
      <!-- <ul class="navbar-nav ms-auto">
        @if (userProfileService.currentUserProfile() != null) {
        <li>
          <button
            class="btn btn-outline-light"
            (click)="userProfileService.setCurrentUserProfile(null)"
          >
            Change Profile
          </button>
        </li>
        }
      </ul> -->
    </div>
  </div>
</nav>
