<br>
<div class="row pb-3">
  <div class="col-1 offset-1 align-self-center">
    Search
  </div>
  <!--<div class="col-8">
    <input class="form-control" type="text" [(ngModel)]="search[dirLevel]">
  </div>
  <div class="col-1">
    <button class="btn btn-danger form-control" (click)="search[dirLevel] = ''">
      Clear
    </button>
  </div>
</div>
<div class="row pb-3">
  <div class="col-12">
    <p>Path: \{{ selectedDir }}</p>
  </div>
</div>
<div class="row pb-1">
  <div class="col-2 col-lg-1">
    <button class="btn btn-sm btn-primary form-control" (click)="popDir()" [disabled]="selectedDir == ''">
      Back
    </button>
  </div>
  <div class="col-8 col-lg-10">
    ..
  </div>
</div>
<div class="row pb-1" *ngFor="let item of getSearchedDirs()">
  <div class="col-2 col-lg-1">
    <button class="btn btn-sm btn-primary form-control" (click)="selectDir(item)">
      Open
    </button>
  </div>
  <div class="col-8 col-lg-10">
    {{ item }}
  </div>
</div>
<div class="row pb-1" *ngFor="let item of getDirFiles()">
  <div class="col-2 col-lg-1">
    <button class="btn btn-sm btn-success form-control" (click)="onPlayVideoFile.emit(item)">
      Play
    </button>
  </div>
  <div class="col-8 col-lg-10">
    {{ item.videoName }}
  </div>
</div>-->