<div class="row pb-3 text-center">
  <div class="col-3 col-lg-2">
    <div class="form-check" *ngIf="isAdmin">
      <input
        type="checkbox"
        class="form-check-input"
        id="isStaging"
        (change)="stagingChanged()"
        [checked]="isStaging"
      />
      <label class="form-check-label" for="isStaging">Use Staging</label>
    </div>
  </div>
  <div class="col-3 col-lg-2" *ngIf="isAdmin">
    <button
      class="btn btn-sm btn-primary form-control"
      (click)="convertFilesListAll()"
    >
      List All Converts
    </button>
  </div>
  <div class="col-4 col-lg-3" *ngIf="isStaging">
    <button
      class="btn btn-sm btn-success form-control"
      (click)="convertAllFiles()"
    >
      Queue Convert Directory
    </button>
  </div>
</div>
<div class="row pb-3">
  <div class="col-12">
    <p>Path: \{{ currentDirPathName }}</p>
    <app-input-validation
      property="Directory"
      [validations]="errors"
    ></app-input-validation>
  </div>
</div>
<div class="row pb-1">
  <div class="col-2 col-lg-1">
    <button
      class="btn btn-sm btn-primary form-control"
      (click)="popDir()"
      [disabled]="currentDirPathName == ''"
    >
      Back
    </button>
  </div>
  <div class="col-10 col-lg-11">..</div>
</div>
<!--<div class="row pb-1" *ngFor="let item of dirsAndFiles.dirs">
  <div class="col-2 col-lg-1">
    <button class="btn btn-sm btn-primary form-control" (click)="pushDir(item)">
      Open
    </button>
  </div>
  <div class="col-10 col-lg-11">
    {{ item.dirName }}
  </div>
</div>
<div class="row pb-1" *ngFor="let item of dirsAndFiles.files">
  <div class="col-2 col-lg-1">
    <button
      class="btn btn-sm btn-success form-control"
      *ngIf="!isStaging"
      (click)="playFile(item)"
    >
      Play
    </button>
    <button
      class="btn btn-sm btn-success form-control"
      *ngIf="isStaging && item.convertQueued == false"
      (click)="convertFile(item)"
    >
      Convert
    </button>
    <span class="text-danger" *ngIf="isStaging && item.convertQueued == true">
      Converting
    </span>
  </div>
  <div class="col-10 col-lg-11">
    {{ item.fileName }}
  </div>
</div>-->
<div class="row pb-1">
  <div class="col-3 p-3" *ngFor="let item of dirsAndFiles.dirs">
    <div *ngIf="!isStaging" class="img-container pb-3">
      <img
        class=""
        [src]="directoryService.getFolderThumbnailUrl(item.dirPathName!)"
      />
    </div>
    <div class="row justify-content-center">
      <button
        class="btn btn-sm btn-primary form-control"
        (click)="pushDir(item)"
      >
        {{ item.dirName }}
      </button>
    </div>
  </div>
</div>
<hr *ngIf="dirsAndFiles.dirs!.length > 0 && dirsAndFiles.files!.length > 0" />
<div class="row pb-1">
  <div class="col-3 p-3" *ngFor="let item of dirsAndFiles.files">
    <div *ngIf="!isStaging" class="img-container pb-3">
      <img
        class=""
        [src]="directoryService.getFileThumbnailUrl(item.filePathName!)"
      />
    </div>
    <div class="row justify-content-center">
      <button
        *ngIf="!isStaging"
        class="btn btn-sm btn-primary form-control"
        (click)="playFile(item)"
      >
        {{ item.fileName }}
      </button>
      <button
        *ngIf="isStaging"
        class="btn btn-sm form-control"
        [ngClass]="item.convertQueued ? 'btn-danger' : 'btn-primary'"
        [disabled]="item.convertQueued"
        (click)="convertFile(item)"
      >
        {{ item.convertQueued ? "Converting" : "Convert" }} -
        {{ item.fileName }}
      </button>
    </div>
  </div>

  <!--<div class="col-2 col-lg-1">
    <button
      class="btn btn-sm btn-success form-control"
      *ngIf="!isStaging"
      (click)="playFile(item)"
    >
      Play
    </button>
    <button
      class="btn btn-sm btn-success form-control"
      *ngIf="isStaging && item.convertQueued == false"
      (click)="convertFile(item)"
    >
      Convert
    </button>
    <span class="text-danger" *ngIf="isStaging && item.convertQueued == true">
      Converting
    </span>
  </div>
  <div class="col-10 col-lg-11">
    {{ item.fileName }}
  </div>
</div>-->

  <app-modal #convertAllModal [showCloseBtn]="false" size="xl">
    <div header>
      <h4>Queue Convert Directory</h4>
    </div>
    <div body>
      <app-convert-file-add-many
        #convertAll
        (onCovertFileQueued)="setConvertQueued($event)"
        (onCovertFilesAllSaved)="convertAllModal.closeModal()"
        (onCancel)="convertAllModal.closeModal()"
        (onVideoMeta)="onVideoMeta($event)"
      ></app-convert-file-add-many>
    </div>
  </app-modal>
  <app-modal #convertModal [showCloseBtn]="false" size="xl">
    <div header>
      <h4>Queue Convert File</h4>
    </div>
    <div body>
      <p>
        <app-convert-file-add
          #convert
          (onCovertFileSaved)="convertModal.closeModal()"
          (onCancel)="convertModal.closeModal()"
          (onVideoMeta)="onVideoMeta($event)"
        ></app-convert-file-add>
      </p>
    </div>
  </app-modal>
  <app-modal
    #convertListAllModal
    [showCloseBtn]="true"
    size="xl"
    fullscreen="lg"
  >
    <div header>
      <h4>All Convert Files</h4>
    </div>
    <div body>
      <app-convert-file-list-all #convertListAll></app-convert-file-list-all>
    </div>
  </app-modal>
  <app-video-player
    #videoPlayer
    (onFilePlayChange)="onPlayFileChange($event)"
    (onPlayerClose)="onPlayerClose()"
    (onVideoMeta)="onVideoMeta($event)"
  ></app-video-player>
  <app-modal #videoMeta [showCloseBtn]="true" size="xl">
    <div header>
      <h4>Video Meta</h4>
    </div>
    <div body>
      <p>Output</p>
      <p>{{ metaData?.output }}</p>
      <hr />
      <p>Error</p>
      <p>{{ metaData?.error }}</p>
    </div>
  </app-modal>
</div>
